body {
	margin: 0;
	padding: 0;
    font-family:Roboto;
    line-height:30px;


}

.wrapper {
	margin: 0;
	padding: 0;
}

.navbar {
	border-radius: 0;
	margin-bottom:0;
	height: 10vh;
    background-color:
}
.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 15px;
}
/*@media (min-width: 768px)
    bootstrap.css:4290
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
    margin-top: 5px;
}*/
.raw{
	margin: 0;
	padding: 0;
}
.imaContainer{
    position: relative;
    transition: all ease 0.5s;
    height: auto;
}
.imaContainer:hover.middleLayer{
     opacity: 1;
    transform: scale(1.05);

}

#circule{
    transition: all ease .9s;
    backface-visibility: hidden;
    opacity: 1;
    padding: 1.5vh 0;
    cursor: pointer;
    border-radius: 50px;
    width:  100%;
    padding: 10px;
}

#circule:hover{
    transform: scale(1.05);
    position: relative;
}
#slides {
    position: relative;
    height: 450px;
    padding: auto;
    margin: auto;
    list-style-type: none;
    z-index: -1;
}
.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    height: 90vh;
}
.showing {
    opacity: 1;
    z-index: 9999;

}

.slide {
    font-size: 40px;
    padding: 40px;
    background: #333;
    color: #fff;
}
.slide:nth-of-type(1) {
    margin-top: 0;
    background-image:url("../images/ex8.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    padding: 0;
    background-position: center;

}
.slide:nth-of-type(2) {
    margin-top: 0;
    background-image:url("../images/ex4.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    padding: 0;
    background-position: center;


}
.slide:nth-of-type(3) {
 margin-top: 0;
    background-image:url("../images/ex5.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    padding: 0;
    background-position: center;

}
.slide:nth-of-type(4) {
    margin-top: 0;
    background-image:url("../images/ex3.jpeg");
    background-size:cover;
    background-repeat:no-repeat;
    padding: 0;
    background-position: center;
}
.slide:nth-of-type(4) {
     margin-top: 0;
    background-image:url("../images/ex7.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    padding: 0;
    background-position: center;
}

.container-content{
    width: auto;
    height: auto;
}	
.image{
    border-radius: 50px;
    margin-top: 100px;
    }
.container-img{
    border-radius: 50px;
    width: 100%;


}
.context{
     margin-top: 100px  
}
.row {
    margin-right: 80px;
    margin-left: 80px; 
}
.col-xs-8 {
    width: 66.66666667%;
    margin-top: 20px;
}
.context{
    margin-top: 100px;
}

.text-center
 {
    text-align: center;
    margin-bottom: 1px;
    font-weight: 200px;
    cursor: pointer;
    color: #555;
}

.main-text{
   color: #777;
    font-weight: 300;
    font-size: 1.7rem;
    
}
.heading {
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;

}
.btnDetails{
    color: #292b2c;
    border-color: #ccc;
    margin-left: 125px;
    margin-top: 10px;
    margin: 50px;
}
.featurette-divider {
    margin: 100rem 5;
}
hr {
    size: 1px;
    border: none;
    color: #888;
    background-color: #888;
}
hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 2px;
    margin-top: 60px;
    width: 1200px;
    overflow: visible;
}
.twitter{
     width: 30Px;
    color: #777;
    margin-bottom:4px;
    cursor: pointer;
    margin-right: 90px;

}
.facebook{
    width: 25px;
    color: #777;
    margin-top: -76px;
    cursor: pointer;

}
.instagram { 
    width: 25px;
    color: #777;
    margin-top: -138px;
    cursor: pointer;
    margin-left: 85px; 

}
.footer{
    text-align: center;
}

.text {
    color: #777;
    font-weight: 300;
    font-size: 1.7rem; 
}
.photo-container{
    position: relative;
    transition: all ease 1.1s;
    height: auto;
}
.photo-container:hover.middleLayer{
    opacity: 1;
    transform: scale(1.05);
}
#image{
    transition: all ease .9s;
    backface-visibility: hidden;
    opacity: 1;
    padding: 1.5vh 0;
    cursor: pointer;
    border-radius: 50px;
    width:  100%;
    padding: 10px;

}
#image:hover{
    transform: scale(1.05);
    position: relative;
}
#container-img{
    transition: all ease .9s;
    backface-visibility: hidden;
    opacity: 1;
    padding: 1.5vh 0;
    cursor: pointer;
    border-radius: 50px;
    width:  100%;
    padding: 10px;
    
}
#container-img:hover{
    transform: scale(1.05);
    position: relative;
}


/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100vw; 
    height: 100vh; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
.price{
    width: 15%;
    margin-bottom: 10px;
}

/***************** about.css ****************/
 

.textAbout{
    color: black;
    font-weight: 300;
    font-size: 1.7rem;
    margin-left: 0px;
    margin-top: -350px;
    line-height: 25px;
    z-index: 1;
}

/************** contact.css  *************/
.div{
    background-color: black;    
}
/*.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-left: 60%;
    margin-top: 1%;
    background: grey;
    color: black;
    width: 475px;
    height: 50px;
}*/
.formFrame{
    margin-left: 700px;
}
.box{
  margin-top: 150px;
}
.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.price{
    width:20px;
}
.inputs {
    margin-top: 50%;
}
.form-control{
    width: 35%;
    margin-left: 0%;
    margin-top: 2%;
}
.form-control2{
    margin-bottom: 10%;
}
.inpute {
    margin: auto;
}
.form_send{
    background: transparent;
    border-radius: 0;
    border-style: none;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .125em;
    margin: 0;
    padding: 1em 0;
    display: inline-block;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    margin-top: 0%;
    margin-left: auto;
}
.textbox{
    margin-left: 700px;
    margin-top: 100px;

}
.textContact {
    font-weight: 250px;
    margin-top:-400px;
    font-size: -1.3rem;
    font-weight: 300;
    font-size: 1.7rem;
    padding: .4em 0 .2em;
    font-size: 1.25em;
    color: #dfdfdf;
    font-weight: 200;
    line-height: 1.5em;
}
.col-md-12 {
    width: 100%;
    margin-bottom: -310px;
}
textarea.form-control {
    height: auto;
    resize: vertical;
}
.contact-name{
    width: 200px;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 370px;
    margin: 3px;
    resize: vertical;
    border-radius: 5px;
}


/******************** Price.css *******************/

a:focus,
a:hover,
a:active {
    text-decoration: none;
}
#color{
    color: white;
}
.btnPrice{
    width: 25%;
    background-color: #F5F5F5;
    background: #9E9E9E;
    text-decoration: none;
    margin-left: 80px;
    margin-top: 70px;

}
.colorText{
    color: #424242;
    text-decoration: none;
}
p{
    color: white;
    padding: .4em 0 .2em;
    font-size: 1.25em;
    font-weight: 200;
    line-height: 1.5em;
}
h2{
    color: #424242;
    font-style: bold;

}
/****************** Gallery1 *****************/
.img-responsive{
    display: block;     
    max-width: 100%;
    height: auto;
    padding: 15px 0;
    margin-top: 10px;
}

#imagerow1:hover{
    transform: scale(1.05);
    position: relative;
}
#imagerow1{
    transition: all ease .9s;
    backface-visibility: hidden;
    opacity: 1;
    padding: 1.5vh 0;
    cursor: pointer;
    border-radius: 5px;
    width:  100%;
    padding: 1px;    



}
.row1:hover.middleLayer{
    opacity: 1;
    transform: scale(1.05);
}
.frame{
    background-color: white;
}
.row1{
    background-color:#222; 
}

/*********************  biography ***********************/

.photograph1{
    color: #111;
}

.imgslide {
    font-size: 40px;
    padding: 40px;
    background: #333;
    color: #fff;
}
.imgslide:nth-of-type(1) {
    margin-top: 0;
    background-image:url("../images/ex8.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    padding: 0;
    background-position: center;

}
.imgslide:nth-of-type(2) {
    margin-top: 0;
    background-image:url("../images/ex4.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    padding: 0;
    background-position: center;


}
.imgslide:nth-of-type(3) {
 margin-top: 0;
    background-image:url("../images/ex5.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    padding: 0;
    background-position: center;

}
.imgslide:nth-of-type(4) {
    margin-top: 0;
    background-image:url("../images/ex3.jpeg");
    background-size:cover;
    background-repeat:no-repeat;
    padding: 0;
    background-position: center;
}
.imgslide:nth-of-type(4) {
     margin-top: 0;
    background-image:url("../images/ex7.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    padding: 0;
    background-position: center;
}
